@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tektur:wght@400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: var(--fundo);
}
:root{
    --fundo: #d1efef;
    --amarelo: #ffe462;
    --destaqueForte: #19192d;
    --destaqueClaro: #48c9bf;
    --corSecundaria: #2b3d34;
    --corTerciaria: #99c2ab;
}
header{
    background-color: var(--corTerciaria);
    padding: 20px;
    text-align: center;
    height: 100vh;
}
header>h1{
    background-color: transparent;
    margin-top: 45vh;
    font-size: 2.4em;
    font-family: 'Inter';                           
    color: var(--destaqueForte);
}
span {
    font-family: 'Tektur';
    text-decoration: underline;
    background-color: transparent;
    color: var(--corSecundaria);
}
#preview{
    height: 80vh;
    background-color: var(--fundo);
}
#preview>div{
    margin-top: 30vh;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--corSecundaria);
    float: right;
    width: 30vw;
    display: block;
    box-shadow: 0px 0px 10px #19192d9f;
    background-color: var(--corSecundaria);
}
#preview>div>p, #preview >div > h2{
    font-family: 'nunito';
    background-color: transparent;
    color: var(--corTerciaria);
}
#preview>div>p{
    font-size: 1em;
}
#preview >div > h2{
    font-size: 1.2em;
}
#obras{
    padding: 30px;
    background-color: var(--corTerciaria);
}
#obras>h2{
    font-size: 2em;
    margin-bottom: 20px;
}
#casaone{
    border-radius: 23px;
    height: 280px;
    width: 200px;
    border: 2px solid var(--destaqueForte);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
}
#casaone>img{
    border-radius: 20px 20px 0px 0px;
    width: 200px;
    height: 200px;
}
#casaone > p {
    color: var(--corSecundaria);
    margin-top: 20px;
}
#casatwo{
    border-radius: 23px;
    height: 280px;
    width: 200px;
    border: 2px solid var(--destaqueForte);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
}
#casatwo>img{
    border-radius: 20px 20px 0px 0px;
    width: 200px;
    height: 200px;
}
#casatwo > p {
    color: var(--corSecundaria);
    margin-top: 20px;
}
#casatri{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 23px;
    height: 280px;
    width: 200px;
    border: 2px solid var(--destaqueForte);
    text-align: center;
}
#casatri>img{
    border-radius: 20px 20px 0px 0px;
    width: 200px;
    height: 200px;
}
#casatri > p {
    color: var(--corSecundaria);
    margin-top: 20px;
}
#obras>h2, #casaone > p {
    font-family: 'Montserrat';
    background-color: transparent;
}
#etapas{
    background-color: var(--fundo);
    text-align: center;
}
#pcomquebra{
    width: 390px;
    margin: auto;
}
#etapas>h2{
    margin-top: 10px;
    font-size: 1.9em;
}
#etapas>ul>li{
    text-align: center;
    background-color: var(--corTerciaria);
    padding: 5px;
    border-radius: 10px;
    list-style-type: none;
    margin: 15px;
    border: 1px solid var(--destaqueForte);
}
#etapas>ul>li>h3{
    color: var(--destaqueForte);
    font-size: 1.6em;
}
#etapas>ul>li>p{
    color: var(--corSecundaria);
}
#etapas>ul>li>p, #etapas>ul>li>h3{
    background-color: transparent;
    text-align: center;
    font-family: 'Inter';
}
#etapas > h2{
    background-color: transparent;
    font-family: 'Inter';
}
#oqfaz{
    background-color: var(--corTerciaria);
}
#oqfaz>h2, #oqfaz>li, #oqfaz>ul{
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    font-family: 'Montserrat';
}
#oqfaz>ul>li{
    background-color: transparent;
    font-family: 'Inter';
}
p> span{
    font-family: 'Montserrat';
    color: var(--amarelo);
}
footer{
    text-align: center;
    height: 30vh;
    background-color: var(--destaqueForte);
}
footer>p{
    font-family: 'Inter';
    color: var(--destaqueClaro);
    padding-top: 20px;
    background-color: transparent;
}
footer>a{
    font-family: 'Montserrat';
    color: var(--amarelo);
    padding-top: 20px;
    background-color: transparent;
}