@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: var(--fundo);
}
:root{
    --fundo: #cecece;
    --vermprinci: #c8102e;
    --txtnemfedenemcheira: #1a1a1a;
    --fundoesc: #ebebeb;
    --sec: #f2b705;
}
header{
    background-color: var(--vermprinci);
    padding: 20px;
    text-align: center;
    height: 100vh;
}
header>h1{
    background-color: transparent;
}
span {
    text-decoration: underline;
    background-color: transparent;
    color: var(--sec);
}