@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    background-color: var(--fundo);
}
:root{
    --fundo: #cecece;
    --vermprinci: #c8102e;
    --txtnemfedenemcheira: #1a1a1a;
    --funto: #ebebeb;
    --sec: #f2b705;
}
header{
    text-align: center;
}